.parent{
	display: flex;
	flex-wrap:wrap;
	margin-top: 20px;
}
.parent>*{
	flex-grow:0;
	flex-basis: 20%;
	box-sizing: border-box;
	border: 2px solid lightgray;
	padding: 10px;
}
.navbar-default .navbar-nav>li>.cart{
	color:white;
}